<!DOCTYPE html>
<html ng-app="w2sTaxApp">
<head>
<meta charset="ISO-8859-1">
<title>Tax Statements</title>
<script type="text/javascript" src="angular/angular.js"></script>
<script type="text/javascript" src="controller/document.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>

</head>
<body ng-controller="taxSmtController">

	<form name="docForm" ng-submit="submitForm(form)">

		ASSOCIATE ID: <input type="text" ng-model="form.aoid" id="aoid">

		<br /> <br /> ORG ID: <input type="text" ng-model="form.ooid"
			id="ooid"> <br /> <br /> <input name="getDocIDS"
			type="submit">

	</form>

	<div>

		<table border="1">
		<tr>
		<td> doc id
		</td>
		
		<td> grosspay
		</td>
		
		<td> year
		</td>
		</tr>
			<tr ng-repeat="doc in docList">
				<td>{{doc.documentId}}</td>
				<td>{{doc.grospay}}</td>
				<td>{{doc.year}}</td>
			</tr>
		</table>

	</div>

</body>
</html>